html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.stream{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: -1px;
    padding: 0;
    border: 1px solid rebeccapurple;
    position: relative;
}
.video-js{
    position: absolute;
    width: 100%;
    height: 100%;
}

.mainStrem{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    z-index: 100;
    width: 80%;
    height: 70%;
}

.vjs-fullscreen-control{
    display: none !important;
}